In [6]:
# Dependencies
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

In [7]:
#Reading CSVs
m_data = pd.read_csv('Environment_Temperature_change_filtered_Mdata.csv')
y_data = pd.read_csv('Environment_Temperature_change_filtered_Ydata.csv')
y_data1 = y_data.drop(['Area Code','Months Code','Element Code','Element','Unit'], axis=1)
y_data1

,Area,Months,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,YearSpanAvg
0,South America,Meteorological year,0.116,-0.139,0.139,-0.217,-0.015,0.007,-0.001,-0.147,...,0.721,0.943,0.834,1.105,1.435,1.242,1.232,1.034,1.310,0.453
1,Northern America,Meteorological year,0.017,-0.058,0.372,-0.285,-0.594,-0.185,-0.195,0.196,...,1.002,1.786,0.902,0.389,1.330,2.273,1.426,0.873,1.179,0.523

In [8]:
m_data1 = m_data.dropna(axis=0, how='all')
m_data1 = m_data1.drop(['Area Code','Months Code','Element Code','Element','Unit'], axis=1)
m_data1

,Area,Months,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,YearSpanAvg
0,South America,January,0.015,-0.154,-0.022,0.227,-0.292,0.299,-0.142,-0.149,...,0.702,0.662,1.050,0.963,1.149,1.571,1.157,0.914,1.230,0.431
2,South America,February,-0.128,-0.021,-0.131,0.180,0.059,-0.306,-0.136,-0.251,...,0.467,0.541,0.746,0.580,0.837,1.774,0.972,0.825,1.149,0.376
4,South America,March,-0.098,0.192,-0.086,-0.261,-0.523,0.019,-0.317,-0.468,...,0.318,0.676,0.601,0.494,1.122,1.357,0.922,0.988,0.952,0.414
6,South America,April,0.064,-0.109,0.305,0.204,-0.148,0.269,0.293,-0.750,...,0.942,0.937,1.024,1.022,1.587,1.491,1.015,1.548,1.609,0.587
8,South America,May,0.499,-0.406,-0.152,0.045,-0.186,0.209,0.901,-0.968,...,0.529,0.993,0.961,0.947,1.384,0.740,1.472,1.190,1.479,0.448
10,South America,June,-0.406,-0.526,-0.090,-0.840,1.056,0.447,-0.792,-0.168,...,0.883,1.065,1.357,1.301,1.725,0.415,1.370,0.449,1.983,0.479
12,South America,July,-0.116,-1.026,0.447,-0.628,-0.092,0.075,-0.100,0.393,...,0.883,0.464,0.785,1.003,1.708,1.372,1.259,0.814,1.028,0.411
14,South America,August,0.712,-0.038,0.393,-0.134,0.221,-0.448,0.172,0.167,...,0.845,1.158,0.140,1.426,2.126,1.645,1.749,0.546,0.993,0.479
16,South America,September,0.275,0.398,0.268,-0.236,0.007,-0.479,0.157,-0.342,...,1.054,1.454,0.627,1.643,1.799,0.872,1.582,1.567,1.551,0.419
18,South America,October,0.347,-0.270,0.649,-0.627,0.238,0.014,0.290,0.020,...,0.572,1.440,0.880,1.690,1.463,1.133,1.280,1.307,1.245,0.525
20,South America,November,0.223,0.432,-0.067,-0.601,0.071,0.108,-0.119,0.626,...,0.713,1.172,0.693,0.909,1.411,0.922,0.866,1.106,1.667,0.430
22,South America,December,-0.140,0.150,0.079,-0.586,-0.124,-0.222,0.131,0.036,...,0.753,1.143,1.285,0.908,1.612,1.147,1.153,0.831,1.276,0.453
32,Northern America,January,0.699,-0.515,-0.618,1.222,0.084,-2.178,1.111,-0.465,...,1.960,2.216,2.024,2.418,1.927,4.029,3.629,2.110,1.717,1.001
34,Northern America,February,0.684,-0.845,0.644,0.689,-1.880,0.057,-1.604,-0.083,...,0.358,3.370,1.569,-0.589,-0.797,3.244,3.050,0.739,-0.535,0.648
36,Northern America,March,-0.243,0.481,-0.052,-2.683,-0.465,0.832,-0.347,2.046,...,0.753,2.997,1.237,-0.694,1.957,3.381,1.193,2.016,2.248,0.931
38,Northern America,April,-0.700,-0.152,0.896,-0.786,0.347,-0.847,-0.936,0.142,...,-0.148,1.815,-0.829,0.122,1.187,1.258,1.350,-0.739,1.149,0.459
40,Northern America,May,-0.600,-0.259,-0.136,-0.023,0.118,-0.325,-0.878,-0.529,...,0.237,1.523,0.252,1.042,1.190,1.486,0.989,1.549,0.695,0.344
42,Northern America,June,0.552,0.007,-0.168,-0.449,-0.831,0.042,-0.148,-0.192,...,0.740,1.522,1.480,0.858,1.527,1.640,1.058,0.992,0.902,0.450
44,Northern America,July,0.153,-0.326,0.119,0.091,-0.678,0.421,-0.345,-0.425,...,1.215,1.710,0.526,0.615,0.592,1.173,1.036,1.180,0.998,0.375
46,Northern America,August,0.370,0.202,0.037,-0.646,-0.572,-0.174,0.041,-0.844,...,1.361,1.319,0.904,0.804,0.763,1.358,0.715,0.678,0.912,0.360
48,Northern America,September,-0.559,-0.163,0.319,-0.481,-1.443,0.604,0.357,0.441,...,1.534,1.617,1.332,0.703,1.560,1.498,1.413,0.344,1.845,0.429
50,Northern America,October,-0.727,1.171,2.080,-0.052,-0.398,-0.682,0.050,0.899,...,1.367,0.305,1.254,1.541,1.457,1.300,1.388,-0.109,0.726,0.252
52,Northern America,November,-0.273,0.813,0.438,0.030,0.438,-0.981,0.068,0.218,...,0.874,0.198,-0.110,-0.669,1.954,3.742,0.818,-0.300,0.906,0.362
54,Northern America,December,-1.117,0.910,-0.336,-1.846,1.012,0.290,1.138,-1.112,...,2.847,1.187,-1.483,2.635,3.170,0.469,2.019,2.582,2.178,0.686

In [9]:
m_data_na = m_data1[m_data1['Area']=='Northern America']
m_data_sa = m_data1[m_data1['Area']=='South America']

m_data_na

,Area,Months,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,YearSpanAvg
32,Northern America,January,0.699,-0.515,-0.618,1.222,0.084,-2.178,1.111,-0.465,...,1.960,2.216,2.024,2.418,1.927,4.029,3.629,2.110,1.717,1.001
34,Northern America,February,0.684,-0.845,0.644,0.689,-1.880,0.057,-1.604,-0.083,...,0.358,3.370,1.569,-0.589,-0.797,3.244,3.050,0.739,-0.535,0.648
36,Northern America,March,-0.243,0.481,-0.052,-2.683,-0.465,0.832,-0.347,2.046,...,0.753,2.997,1.237,-0.694,1.957,3.381,1.193,2.016,2.248,0.931
38,Northern America,April,-0.700,-0.152,0.896,-0.786,0.347,-0.847,-0.936,0.142,...,-0.148,1.815,-0.829,0.122,1.187,1.258,1.350,-0.739,1.149,0.459
40,Northern America,May,-0.600,-0.259,-0.136,-0.023,0.118,-0.325,-0.878,-0.529,...,0.237,1.523,0.252,1.042,1.190,1.486,0.989,1.549,0.695,0.344
42,Northern America,June,0.552,0.007,-0.168,-0.449,-0.831,0.042,-0.148,-0.192,...,0.740,1.522,1.480,0.858,1.527,1.640,1.058,0.992,0.902,0.450
44,Northern America,July,0.153,-0.326,0.119,0.091,-0.678,0.421,-0.345,-0.425,...,1.215,1.710,0.526,0.615,0.592,1.173,1.036,1.180,0.998,0.375
46,Northern America,August,0.370,0.202,0.037,-0.646,-0.572,-0.174,0.041,-0.844,...,1.361,1.319,0.904,0.804,0.763,1.358,0.715,0.678,0.912,0.360
48,Northern America,September,-0.559,-0.163,0.319,-0.481,-1.443,0.604,0.357,0.441,...,1.534,1.617,1.332,0.703,1.560,1.498,1.413,0.344,1.845,0.429
50,Northern America,October,-0.727,1.171,2.080,-0.052,-0.398,-0.682,0.050,0.899,...,1.367,0.305,1.254,1.541,1.457,1.300,1.388,-0.109,0.726,0.252
52,Northern America,November,-0.273,0.813,0.438,0.030,0.438,-0.981,0.068,0.218,...,0.874,0.198,-0.110,-0.669,1.954,3.742,0.818,-0.300,0.906,0.362
54,Northern America,December,-1.117,0.910,-0.336,-1.846,1.012,0.290,1.138,-1.112,...,2.847,1.187,-1.483,2.635,3.170,0.469,2.019,2.582,2.178,0.686

In [10]:
m_data_sa

,Area,Months,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,YearSpanAvg
0,South America,January,0.015,-0.154,-0.022,0.227,-0.292,0.299,-0.142,-0.149,...,0.702,0.662,1.050,0.963,1.149,1.571,1.157,0.914,1.230,0.431
2,South America,February,-0.128,-0.021,-0.131,0.180,0.059,-0.306,-0.136,-0.251,...,0.467,0.541,0.746,0.580,0.837,1.774,0.972,0.825,1.149,0.376
4,South America,March,-0.098,0.192,-0.086,-0.261,-0.523,0.019,-0.317,-0.468,...,0.318,0.676,0.601,0.494,1.122,1.357,0.922,0.988,0.952,0.414
6,South America,April,0.064,-0.109,0.305,0.204,-0.148,0.269,0.293,-0.750,...,0.942,0.937,1.024,1.022,1.587,1.491,1.015,1.548,1.609,0.587
8,South America,May,0.499,-0.406,-0.152,0.045,-0.186,0.209,0.901,-0.968,...,0.529,0.993,0.961,0.947,1.384,0.740,1.472,1.190,1.479,0.448
10,South America,June,-0.406,-0.526,-0.090,-0.840,1.056,0.447,-0.792,-0.168,...,0.883,1.065,1.357,1.301,1.725,0.415,1.370,0.449,1.983,0.479
12,South America,July,-0.116,-1.026,0.447,-0.628,-0.092,0.075,-0.100,0.393,...,0.883,0.464,0.785,1.003,1.708,1.372,1.259,0.814,1.028,0.411
14,South America,August,0.712,-0.038,0.393,-0.134,0.221,-0.448,0.172,0.167,...,0.845,1.158,0.140,1.426,2.126,1.645,1.749,0.546,0.993,0.479
16,South America,September,0.275,0.398,0.268,-0.236,0.007,-0.479,0.157,-0.342,...,1.054,1.454,0.627,1.643,1.799,0.872,1.582,1.567,1.551,0.419
18,South America,October,0.347,-0.270,0.649,-0.627,0.238,0.014,0.290,0.020,...,0.572,1.440,0.880,1.690,1.463,1.133,1.280,1.307,1.245,0.525
20,South America,November,0.223,0.432,-0.067,-0.601,0.071,0.108,-0.119,0.626,...,0.713,1.172,0.693,0.909,1.411,0.922,0.866,1.106,1.667,0.430
22,South America,December,-0.140,0.150,0.079,-0.586,-0.124,-0.222,0.131,0.036,...,0.753,1.143,1.285,0.908,1.612,1.147,1.153,0.831,1.276,0.453